mat-toolbar {
    width: 90%;
    margin: 10px auto 20px auto;
  }
  
  mat-form-field {
    width: 80%;
    padding: 0px;
    margin-bottom: -15px;
  }
  /*
  mat-icon {
    font-size: 26px;
  } */
  
  .fin-btn {
      margin: 20px auto 0px auto;   
      margin-right: 10px;
  }
  
  .submit-form {
      text-align:center;
  }