<mat-card class="example-card" *ngIf="!loading">
    <mat-card-title>{{userProfile.workplace}}</mat-card-title>
    <mat-card-title>{{userProfile.user.first_name}} {{userProfile.user.last_name}}</mat-card-title>
    <mat-card-content>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%">
            <div class="wrapper" fxFlex="30%">
                <img *ngIf="userProfile.profile_img != null" src="{{userProfile.profile_img}}" class="image--cover">
                <img *ngIf="userProfile.profile_img == null" src="assets/profile-img.png" class="image--cover">
            </div>
            <div class="content" fxFlex="70%">
                <div>
                    <span>Departman:&nbsp;</span> {{userProfile.department}} <br>
                </div>
                <div>
                    <span>Kancelarija:&nbsp;</span> {{userProfile.office}}<br>
                </div>
                <div>
                    <span>Telefon:&nbsp;</span> {{userProfile.phone}}<br>
                </div>
                <div>
                    <span>Lični sajt:&nbsp;&nbsp;</span><a
                        href='{{userProfile.personal_web_site}}'>{{userProfile.personal_web_site}}</a><br>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <mat-accordion class="accordion" multi="true">
            <!-- panel 1 -->
            <mat-expansion-panel #projectsPanel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Projekti
                    </mat-panel-title>
                    <mat-panel-description>
                        Prikaži projekte
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-table *ngIf="projectsDs.data.length != 0" [dataSource]="projectsDs" class="mat-elevation-z8"
                    matSort>
                    <!--Title-->
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="title"> Naslov </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>

                    <!--Label-->
                    <ng-container matColumnDef="label">
                        <mat-header-cell *matHeaderCellDef> Oznaka </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
                    </ng-container>

                    <!--Pmf status-->
                    <ng-container matColumnDef="pmf_status">
                        <mat-header-cell *matHeaderCellDef> Pmf status </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.pmf_status}} </mat-cell>
                    </ng-container>

                    <!--Project manager-->
                    <ng-container matColumnDef="project_manager">
                        <mat-header-cell *matHeaderCellDef> Rukovodilac projekta </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.project_manager}} </mat-cell>
                    </ng-container>

                    <!--Start year-->
                    <ng-container matColumnDef="start_year">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="start_year"> God. početka </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.start_year}} </mat-cell>
                    </ng-container>

                    <!--Duration-->
                    <ng-container matColumnDef="duration">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="duration"> Trajanje </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="project_cols"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: project_cols;"></mat-row>
                </mat-table>
                <mat-action-row>
                    <button mat-button color="primary" (click)="showAddProjectDialog()">Dodaj projekat</button>
                </mat-action-row>
            </mat-expansion-panel>

            <!-- panel 2 -->
            <mat-expansion-panel #groupsPanel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Istraživanke grupe
                    </mat-panel-title>
                    <mat-panel-description>
                        Prikaži istraživačke grupe
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-list-item *ngFor="let c of coursesDs">
                        <mat-icon mat-list-icon>chrome_reader_mode</mat-icon>
                        <h4 mat-line>{{c.title}}</h4>
                         <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>

                <mat-action-row>
                    <button mat-button color="primary" (click)="showAddProjectDialog()">Dodaj istraživačku
                        grupu</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-footer>
</mat-card>
<mat-spinner *ngIf="loading" [color]="secondary"></mat-spinner>