.example-card{
    width:60%;
    min-height: 60%;
    position: relative;
    margin: 8px auto auto auto;
    background: #ededed;
}

/* prifile image */
.image--cover {
  background: gray;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin: 0px;
  object-fit: cover;
  object-position: center right;
}

mat-card-title {
    text-align: center;
}

mat-card-footer {
   position: relative;
   bottom:10px;
   width:98%;
   height: 20%;
   margin: auto;
}

mat-card-content {
    margin: 30px;
}

mat-expansion-panel {
    margin: 4px;
}

/* Profile details text */
.content{
    font-size: 19px;
}

.content div {
    margin: 12px;
}

.content div span {
    font-weight: bold;
}

mat-table  {
    width: 95%;
    margin: 20px auto 25px auto;
}
