<!--angular reactive form-->
<form [formGroup]="service.form" class="normal-form">
	<mat-grid-list cols="1" rowHeight="500px">
		<mat-grid-tile>
			<div class="controles-container">
				<input type="hidden" formControlName="$key">
				<mat-form-field>
          <input formControlName="fullName" matInput placeholder="Full name*">
          <mat-error>This field is mandatory.</mat-error>
				</mat-form-field>
				<mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
          <mat-error>Invalid email address.</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input formControlName="city" matInput placeholder="City">
				</mat-form-field>
				<mat-form-field>
          <input formControlName="mobile" matInput placeholder="Mobile*">
          <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">Minimum 8 charachters needed.</mat-error>
          <mat-error *ngIf="service.form.controls['mobile'].errors?.required">This field is mandatory.</mat-error>
				</mat-form-field>
				<mat-radio-group formControlName="gender">
					<mat-radio-button value="1">Male</mat-radio-button>
					<mat-radio-button value="2">Female</mat-radio-button>
					<mat-radio-button value="3">Other</mat-radio-button>
				</mat-radio-group>
        <div class="button-row">
          <button mat-raised-button color="primary" (click)="openSnackBar()" [disabled]="service.form.invalid" type="submit">Submit</button>
          <button mat-raised-button color="secondary" (click)="onClear()" type="reset">Clear</button>
        </div>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
</form>
